<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fotograbados LTDA</title>
        <!-- Link the resources  -->
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Body CSS -->
        <link rel="stylesheet" th:href="@{/css/info.css}">
        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
    </head>
    <body>
    <!-- Navigation -->
    <div th:insert="~{usuario/template_usuario.html::header}" th:if="${sesion==null}"></div>
    <div th:insert="~{usuario/template_usuario.html::header-user}" th:unless="${sesion==null}"> </div>

    <section class="perfil-usuario">
        <div class="contenedor-perfil" id="mostrador">
            <div class="portada-perfil">
                <div class="sombra"></div>
                <div class="avatar-perfil">
                    <img th:src="@{${usuario.avatar}}" alt="Avatar">
                    <a href="#" class="cambiar-foto">
                        <label for="avatar">
                            <i class="fas fa-camera"></i>
                            Cambiar foto
                        </label>
                        <form th:action="@{/cliente/cambiar-foto}" method="post" enctype="multipart/form-data">
                            <input type="file" id="avatar" name="avatar" style="display: none;" onchange="this.form.submit()">
                        </form>
                    </a>
                </div>
                <div class="datos-perfil">
                    <h4 class="titulo-usuario" th:text="${usuario.username}"></h4>
                    <p class="bio-usuario" th:text="${usuario.rolEntity.tipo}"></p>
                </div>
                <div class="opcciones-perfil">
                    <form th:action="@{/cambiar-portada}" method="post" enctype="multipart/form-data">
                        <input type="file" id="imagenPortada" name="imagenPortada" style="display: none;" onchange="this.form.submit()">
                        <label for="imagenPortada" class="btn btn-primary">
                            Cambiar portada
                        </label>
                    </form>
                    <button type="button"><i class="fas fa-wrench"></i></button>
                </div>
            </div>

            <div class="menu-perfil" onclick="cargar(this)">
                <ul>
                    <li><a href="#" title=""><i class="icono-perfil fas fa-bullhorn"></i> Pedidos en curso</a></li>

                    <li class="descripcion"><a href="#" title=""><i class="icono-perfil fas fa-info-circle"></i>Cotizaciones</a></li>

                    <li class="descripcion"><a href="../index.html" title=""><i class="icono-perfil fas fa-grin"></i>PQRS</a></li>

                    <li class="descripcion"><a href="#" title=""><i class="icono-perfil fas fa-grin"></i> Informacion de usuario</a></li>

                    <li class="descripcion"><a href="#" title=""><i class="icono-perfil fas fa-grin"></i>Pagina de compra</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container">
        <h2>Información personal</h2>
        <form class="form-horizontal" th:action="@{/cliente/saveInfo}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-sm-2" for="nombreCompleto">Nombre Completo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombreCompleto" name="nombre"
                           th:value="${usuario.nombre}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Nombre Usuario:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username"
                           th:value="${usuario.username}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="direccion">Dirección:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="direccion" name="direccion"
                           th:value="${usuario.direccion}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="codigoPostal">Código Postal:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="codigoPostal" name="codigoPostal"
                           th:value="${usuario.codigoPostal}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="telefono">Número Celular:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="telefono" name="telefono"
                           th:value="${usuario.telefono}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="img">Avatar:</label>
                <div class="col-sm-10">
                    <input type="file" id="img" name="img" accept="image/*">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-saved"></span> Guardar cambios
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <div th:insert="~{usuario/template_usuario.html::footer}"></div>
    </body>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>
