<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linding</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    th:href="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/lading.css}">
</head>
<body>

    <header class="header">
        <div class="menu container">
          <a href="#" class="logo">Fotograbados LTDA</a>
          <input type="checkbox" id="menu" />
          <label for="menu">
            <img th:src="@{/images/menu.png}" class="menu-icono" alt="">
          </label>
          <nav class="navbar">
            <ul> <li><a th:href="@{/home}">Inicio</a></li>
              <li><a th:href="@{/home}">Servicios</a></li>
              <li><a href="@{/home}">Productos</a></li>
              <li><a href="">Contacto</a></li>
            </ul>
          </nav>
          <div class="icons">
              <a href="https://www.facebook.com/Fotograbadosda/photos" target="_blank">
            <i class="fa-brands fa-facebook"></i>
              </a>
          </div>
            <div class="icons">
                <a href="https://www.instagram.com/fotograbadosda?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
             <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="icons">
                <a href="https://wa.me/573118829330" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
                </a>
          </div>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Nuestros Productos</h1>
                <p>
                    "En cada proyecto de fotograbado, buscamos la perfección y la satisfacción total del cliente.
                    Cada desafío de diseño es una oportunidad para demostrar nuestra experiencia y dedicación,
                    creando resultados visualmente impactantes que superan las expectativas."
                </p>
                <a th:href="@{/usuario/login}" class="btn-1" >Iniciar sesion</a>
            </div>
        </div>

        <div class="images">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img th:src="@{/images/identificacion.jpg}" alt="">
                        <h3>placa</h3>
                    </div>
                    <div class="swiper-slide">
                        <img src="{}" alt="">
                        <h3>llavero</h3>
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/images/pin.jpg}" alt="">
                        <h3>pines</h3>
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/images/placa.jpg}" alt="">
                        <h3>identifi</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/lading.js}" ></script>
</body>
</html>