<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible " content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" th:href="@{/css/ladingage.css}">
    <title>FOTOGRABADOS LTDA</title>
    <link rel="icon" type="img/png" href="@{/images/favicon.jpg}"> 

</head>
<body>
    
<div class="head">

    <div class="logo">
        <img src="img/logo.jpg" height="70px" width="100%" alt="icon">

    </div>

    <nav class="navbar">
        <a href="../log-in.html">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">servicio al cliente</a>

    </nav>

</div>

<header class="content header">
    <h2 class="title">Fotograbados</h2>
    <p>
        "En cada proyecto de fotograbado, buscamos la perfección y la satisfacción total del cliente.
         Cada desafío de diseño es una oportunidad para demostrar nuestra experiencia y dedicación,
        creando resultados visualmente impactantes que superan las expectativas."
    </p>

    <div class="btn-home">
        <a href="#" class="btn">Saber mas</a>
        <a href="#" class="btn">Saber mas</a>

    </div>

</header>

<section class="content saw">

    <h2 class="title">Productos</h2>
    <p>
        "Descubre diseños en acero, luces LED, placas personalizadas y estampados.
        Transformamos proyectos con calidad y estilo.
        ¡Haz realidad tus ideas con nosotros!"
    </p>

    <div class="box-container">

        <div class="box">
            <i class="fa fa-shopping-basket"></i>
            <h3>Diseños en acero, como placas personalizadas</h3>
            <p>Descubre la combinación perfecta de funcionalidad
             y estilo con nuestras Placas Personalizadas de Acero. 
             ¡Haz tu pedido hoy mismo y añade un toque de distinción 
             a cualquier ambiente!</p>

            <div class="btn-home">
            <a href="#" class="btn">ver</a>
            </div>  

        </div>

        
        <div class="box">
            <i class="fa fa-shopping-basket"></i>
            <h3>Luces led</h3>
            <p>puedes representar tus luces al diseño que deseas.
                implementado 
            </p>

             <div class="btn-home">
            <a href="#" class="btn">ver</a>
            </div> 

        </div>

        
        <div class="box">
            <i class="fa fa-shopping-basket"></i>
            <h3>Servicio al cliente</h3>
            <p>Te gusta el dick perra</p>

             <div class="btn-home">
            <a href="#" class="btn">ver</a>
            </div> 

        </div>

    </div>

</section>

<section class="content about">

    <h2 class="title">Nosotros</h2>
    <p>Nuestra ventaja competitiva radica en nuestra capacidad para adaptarnos
     a las necesidades y preferencias únicas de cada cliente, Nuestra atención
     al detalle y pasión por el arte del fotograbado nos permite ofrecer soluciones únicas
    y memorables que superan las expectativas de nuestros clientes."
    </p>

    <a href="#" class="btn">saber mas</a>

</section>

<section class="content price">


</section>

<section class="content contact">
    
    <div class="box-containe">
        <h2 class="title">Contacto</h2>
            <div class="bos">
                <i class="fa-brands fa-whatsapp"></i> <a href="https://wa.me/573118829330" target="_blank">Whatsapp</a>
            </div>
            <div class="bos">
                <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/fotograbadosda?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
            </div>
            <div class="bos">
                <i class="fa-brands fa-instagram"></i> <a href="https://www.facebook.com/Fotograbadosda/photos" target="_blank">Facebook</a>
            </div>


        </div>

</section>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>