<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login y Register</title>

    <!-- <link th:href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->


        <link th:href="@{/css/csslog-in.css}" rel="stylesheet">
    </head>
    <body>    
        <main>
            <div class="contenedor__todo">

                <img  th:src="@{/images/logo.jpg}" alt="Logo" class="avatar">

                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Comencemos a disfrutar tus ideas</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <!-- Boton de cambia entre ambos/ Buttom of change between box into their -->
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas disfrutar este mundo.</p>

                        <button id="btn__registrarse" >Regístrarse

                        </button>
                    </div>
                </div>
                <!--it has a remark in the bottom. only read the word not the botton. -->
                <!--Formulario de Login y registro delantera/Form of login and register-->
                <div class="contenedor__login-register">
                    <!--Login of front box-->
                    <form th:action="@{/usuario/acceder}" class="formulario__login" method="post">
                        <h2>Iniciar Sesión</h2>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electronico" required>
                        <input type="password" class="form-control" id="password1" name="password" placeholder="Ingrese su contraseña" required>

                        <div class="button">
                            <button type="submit" class="btn btn-dark">
                                <span class="glyphicon glyphicon-ok"></span> Entrar
                            </button>
                        </div>
                        <a th:href="@{/usuario/recuContra}">Recuperar Contraseña</a>
                    </form>
                    <!--it has a remark in the bottom. only read the word not the botton. -->

                    <!-- Registro de caja delantera/Register of front box-->
                    <form th:action="@{/usuario/save}" method="POST" class="formulario__register">
                        <h2>Regístrarse</h2>
                        <input type="text"   placeholder="Nombre completo" name="nombre">
                        <input type="text"   placeholder="Nombre de usuario" name="username">
                        <input type="text"   placeholder="Correo Electronico" name="email">
                        <input type="text"   placeholder="Dirreccion" name="direccion">
                        <input type="tel"   placeholder="Telefono" name="telefono">
                        <input type="text"   placeholder="codigoPostal" name="codigoPostal">
                        <input type="password" id="password" placeholder="Contraseña" name="password">
                        <select class="form-control" id="genero" name="genero">
                            <option value="">Selecciona un género</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="femenino">Binarie</option>
                            <option value="otro">Otro</option>
                        </select>
                            <button type="submit" class="btn btn-success">Regístrarse</button>
                    </form>
                </div>
            </div>

        </main>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>