<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="template of the proyect">
<meta name="author" content="JuanGuazaquillo">

<title>Fotograbados LTDA</title>



    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet}">
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet} ">

</head>

<body>

<!-- Navigation -->
<!--<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Fotograbados LTDA</a>

			<img src="/images/LogoDefine.jpg" th:src="@{/images/LogoDefine.jpg}" alt="Imagen de un xd">


			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/sale/getCart}">Carrito</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/usuario/login}">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div> -->


<!-- Navigation -->
<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Fotograbados LTDA</a>
            <img th:src="@{/images/Logo.jpg}" alt="Logo" class="avatar">

			<!--	<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Buscar" aria-label="Search" name="nombre"
                           autocomplete="off">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                -->


                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsiveUser" aria-controls="navbarResponsiveUser"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsiveUser">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown"><a
                                class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> USUARIO </a>

                            <div class="dropdown-menu"
                                 aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/cliente/compras}">Compras</a>
                                <a class="dropdown-item" th:href="@{/sale/getCart}">Carrito</a>
                                <a class="dropdown-item" th:href="@{/cliente/info}">Información</a>
                                <a class="dropdown-item" th:href="@{/encuestaSatisfaccion/showAnswer}">Encuesta</a>
                                <a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
                            </div></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



        <!-- Footer -->
	<div th:fragment="footer">
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white"> FOTOGRABADOS LTDA</p>
                <div class="box-containe">
                    <h2 class="title">Contacto</h2>
                    <div class="icons">
                        <a href="https://www.facebook.com/Fotograbadosda/photos" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="icons">
                        <a href="https://www.instagram.com/fotograbadosda?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="icons">
                        <a href="https://wa.me/573118829330" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
		</footer>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
