
.question-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.send-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}
.send-button:hover {
    background-color: #3e8e41;
}

.encuesta {
    max-width: 600px;
    margin: 40px auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
  }

.encuesta h2 {
    margin-top: 0;

}

.encuesta label {
    display: block;
    margin: 0 auto;
}
.encuesta select, .encuesta textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    margin: auto;
}
