body {
  padding-top: 56px;
}


.btn-outline-success {
  background-color: black;
}
.btn-success{
  background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
  );
    border-radius: 8px;
    color: #ffff;
    display: inline-block;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    margin: center;
}
/*
.card {
  margin: auto;
  width: 80%;
}
.table-container {
  display: flex;
  justify-content: center;
} **/


