body {
  padding-top: 56px;
}


.btn-outline-success {
  background-color: black;
}
.btn-success{
  background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
  );
    border-radius: 8px;
    color: #ffff;
    display: inline-block;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    margin: center;
}
.container .avatar{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    position: left;
    top: -10px;
    left: calc(50% - 50px);
}


